<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Храм святого князя Александра Невского</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='3bcf80ac19f207be2dec69231a18ed16 (1).jpg') }}">
</head>
<style>
    p {
    color: #000;
    font-family: Verdana;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;}

</style>
<body>
    <p>
    <img src=" {{ url_for('static', filename='собор Александра Невского.jpg') }} " width="700" height="500" >
    <img src=" {{ url_for('static', filename='александро невский собор.png') }} " width="700" height="500" align="top">
    </p>
    <p>В 2023г. исполняется 200 лет собору Александра Невского, он был освящен в октябре 1823г. Через год после открытия храма в нем побывал император Александр I. Храм работал и после Октябрьской революции. Закрыли его лишь в марте 1929г., а в мае 1930г. здесь открылся клуб и детский кинотеатр “Колос” Бывший собор вернули верующим 1 июля 1990г., еще шесть лет ушло на восстановление облика храма. За основу строительства данного памятника был взят проект Андреевского Собора в Кронштадте архитектора Захарова. В Кронштадте собор не сохранился, но есть планы по восстановлению, на основе Ижевского Храма. Первым настоятелем Собора Александра Невского был протоиерей Захарий Лятушевич. Архитектура здания выполнена в Петербургском стиле.</p>
<body>

</body>
</html>