<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главный корпус Ижевского оружейного завода</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='3bcf80ac19f207be2dec69231a18ed16 (1).jpg') }}">
</head>
<style>
    p {
    color: #000;
    font-family: Verdana;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;}

</style>
<body>
    <p>
    <img src=" {{ url_for('static', filename='5GK.jpg') }} " width="700" height="500" >
    <img src=" {{ url_for('static', filename='Главный_корпус_Оружейного_завода.jpg') }} " width="700" height="500" align="top">
    </p>
    <p>Город Ижевск был основан на рубеже XVIII-XIX веков, а именно 10 апреля 1760 года. История города непосредственно связана с промышленным производством. Тогда началось сооружение корпусов железоделательного завода графа П.И. Шувалова и плотины через реку Иж.  «Второе рождение» Ижевска произошло 10 июня 1807 года, когда выдающийся горный инженер и талантливый организатор А.Ф. Дерябин основал оружейный завод, третий в России после Тульского и Сестрорецкого. Поселок при заводе быстро разрастался. К 1863 году в заводском селении насчитывалось уже более 22 тысяч жителей.Шедевр архитектора С.Е.Дудина, памятник победы России в Отечественной войне 1812г., символ Ижевска. </p>
    <p>Строительство корпуса велось с 1809г по 1844г. В 1834г. здание пострадало от пожара, но было восстановлено. В годы Великой Отечественной войны здесь, как и в предыдущие периоды, шло производство оружия. Вполне закономерно, что первой крупной постройкой стал сам завод с высокой, даже для нашего времени, 50-метровой трубой. Его строительство началось 214 лет назад, в 1808 году. Тогда, вслед за основанием Ижевского оружейного завода, новый город-завод стал обретать свой символ. С тех пор «башня» прошла через многое – огонь, воду и «медные трубы» революции, но всегда оставалась незыблемым символом Ижевска. К сожалению, в  2018г. из-за пожара утрачена и демонтирована колонна.</p>

</body>
</html>