<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дом Захария Лятушевича</title>
</head>
<style>
    p {
    color: #000;
    font-family: Verdana;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;}

</style>
<body>
    <p>
    <img src=" {{ url_for('static', filename='IMAGE 2023-03-08 15_51_03.jpg') }} " width="700" height="500" >
    <img src=" {{ url_for('static', filename='IMAGE 2023-03-08 15_51_14.jpg') }} " width="700" height="500" align="top">
    </p>
    <p>Самый старый особняк в Ижевске. Построили его в 1807г. по проекту архитектора Семена Дудина. Считается, что знаменитый ижевский архитектор Семен Дудин построил его под впечатлением от стажировки в Италии. В доме бывали Дудин, Дерябин и другие представители городской интеллигенции. Жил он в этом доме около 20 лет. Захарий Лятушевич был выдающейся фигурой если не российского, то уж точно губернского масштаба. Он был настоятелем церкви Ильи Пророка, а позже и протоиереем, инициатором строительства Александро-Невского собора и первым его настоятелем, а кроме того, заведовал 4 заводскими школами, преподавал историю, геометрию и механику, писал стихи и прозу на латыни, русском и французском языках и печатал свои сочинения в Москве и Вятке. За просветительскую деятельность Лятушевич получил орден Святой Анны из рук самого Александра I, посетившего Ижевск в 1824г.</p>


</body>
</html>