<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дом купца Оглоблина</title>
</head>
<style>
    p {
    color: #000;
    font-family: Verdana;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;}

</style>
<body>
    <p>
    <img src=" {{ url_for('static', filename='IMAGE 2023-03-08 16_20_09.jpg') }} " width="700" height="500" >
    <img src=" {{ url_for('static', filename='IMAGE 2023-03-08 16_20_15.jpg') }} " width="700" height="500" align="top">
    </p>
    <p>Здание было построено в 1912 году - его называли образец купеческой роскоши. Двухэтажный с огромными окнами, витиеватой отделкой и идеально ровной кирпичной кладкой. Историческая часть здания на сегодняшний день полностью восстановлена. С 1917 года в доме купца Оглоблина располагались учительская семинария, партийная типография, рабочая изостудия. Здание имеет статус памятника истории и культуры регионального значения и охраняется государством</p>


</body>
</html>