<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удмуртский Республиканский Музей Изобразительных Искусств</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='3bcf80ac19f207be2dec69231a18ed16 (1).jpg') }}">
</head>
<style>
    p {
    color: #000;
    font-family: Verdana;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;}

</style>
<body>
    <p>
    <img src=" {{ url_for('static', filename='URMII_03.jpg') }} " width="700" height="500" align="right" >

    </p>

    <p>Удмуртский республиканский музей изобразительных искусств был открыт в 1980 году. </p>
    <p>Возведен по проекту ижевского архитектора В.П. Орлова.</p>
    <p> Инициаторами открытия художественного музея в столице республики были художники и творческая интеллигенция, которые остро ощущали недостаток в промышленном городе институций, ответственных за эмоциональную и визуальную культуру человека.</p>
    <p>Основа коллекции - 565 произведений, маленьких шедевров русского и западноевропейского искусства 17 – начала 20 веков. Небольшое собрание произведений «старых» мастеров, попавшее в республику в 1928 году из Государственного музейного фонда, составляет ядро постоянной экспозиции музея.</p>
    <p>Позднее коллекция пополнялась работами советских и современных удмуртских художников. </p>

    <p>В настоящее время в фондах музея около 14 тысяч единиц хранения. </p>

    <p>Все произведения постоянной экспозиции восстановлены в нашей реставрационной мастерской, где работают специалисты высочайшей квалификации, способные вернуть картинам и иконам первоначальный вид.</p>

</body>
</html>