<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Национальный музей Удмуртской Республики им. Кузебая Герда</title>
</head>
<style>
    p {
    color: #000;
    font-family: Verdana;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;}

</style>
<body>
    <p>
    <img src=" {{ url_for('static', filename='IMAGE 2023-03-08 18_49_42.jpg') }} " width="700" height="500" >
    <img src=" {{ url_for('static', filename='1280px-Izhevsk_Arsenal-19.jpeg') }} " width="700" height="500" align="top">
    </p>
    <p> дата основания - 20.11.1920г.</p>
    <p> Музей располагается в здании бывшего арсенала Ижевского оружейного завода, памятнике промышленной архитектуры 1-ой четверти XIX века, архитектор С.Е. Дудин, стиль высокого классицизма. Оно имеет П-образную форму, открытая часть которого направлена на юг. Общая площадь здания составляет 3000 м².Строительство здания началось в 1823 году, а все работы были окончены в 1827 году. Император Александр I, посетивший Ижевский завод и Арсенал, наградил Дудина орденом Владимира 4-й степени. Вначале было складом, на котором могло храниться 75 тыс. единиц стрелкового оружия. В одной из палат располагались эталонные образцы оружия, его отдельных частей и заготовок, а также инструменты и модели заводских механизмов</p>
    <p> Музей носит имя Кузебая Герда – удмуртского поэта, драматурга, просветителя, политического деятеля.</p>
    <p> В 1931 году музей переехал в здание Александро-Невского собора; </p>
    <p> в 1932 году — в здание Михаило-Архангельского кафедрального собора; </p>
    <p> В 1947 году коллекции музея были размещены в предоставленномбывшем доме З.О. Лятушевича </p>
    <p>В 1975 году здание Арсенала было признано памятником федерального значения. </p>
    <p> В 1987—1994 годах здание было отреставрировано.</p>


</body>
</html>