<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Государственный Театр Кукол</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='3bcf80ac19f207be2dec69231a18ed16 (1).jpg') }}">
</head>
<style>
    p {
    color: #000;
    font-family: Verdana;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;}

</style>
<body>
    <p>
    <img src=" {{ url_for('static', filename='старый театр.jpeg') }} " width="700" height="500" >
    <img src=" {{ url_for('static', filename='IMAGE 2023-03-09 15_51_57.jpg') }} " width="700" height="500" align="top">
    </p>
    <p>Ижевский театр кукол разместился в большом, приспособленном здании на бульваре Гоголя в 1980г. Архитекторы проекта: А.Е. Добровицкий, В.Ю.Гуревич</p>
    <p> Театр – лауреат премии комсомола Удмуртии, Государственной премии Удмуртской Республики, награжден Почетными грамотами Минкультуры России за работу по воспитанию подрастающего поколения. Отмечен высокими наградами Министерствами культуры Венгерской Республики, Чехословакии. Театр кукол – постоянный участник различных международных фестивалей детских театров. В репертуаре театра не только спектакли для юных зрителей. Большой популярностью пользуются постановки для взрослых</p>


</body>
</html>